.border-bottom {
    border-width: 5px;
    padding: 5px;
}

.btn {
    width: 100%
}

.btn-low {
    background-color: green;
}

.btn-mid {
    background-color: yellow;
}

.btn-high {
    background-color: red;
}